<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="/" class="navbar-brand">Recipe Book</a>
    <div
      class="collapse navbar-collapse"
      [class.show]="!collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="recipes" routerLinkActive="active"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="shoppingList"
            routerLinkActive="active"
            >Shopping List</a
          >
        </li>
        <li *ngIf="!isAuthenticated" class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active"
            >Authentication</a
          >
        </li>
      </ul>
      <div class="d-inline-block">
        <ul class="navbar-nav">
          <li *ngIf="isAuthenticated" class="nav-item dropdown">
            <div class="btn-group" dropdown>
              <a
                id="button-basic"
                dropdownToggle
                style="cursor: pointer"
                class="dropdown-toggle nav-link"
                aria-controls="dropdown-basic"
              >
                Manage
              </a>
              <ul
                id="dropdown-basic"
                *dropdownMenu
                class="dropdown-menu"
                role="menu"
                aria-labelledby="button-basic"
              >
                <li role="menuitem">
                  <a
                    class="dropdown-item"
                    style="cursor: pointer"
                    (click)="fetchData()"
                    >Fetch Data</a
                  >
                </li>
                <li role="menuitem">
                  <a
                    class="dropdown-item"
                    style="cursor: pointer"
                    (click)="saveData()"
                    >Save data</a
                  >
                </li>
                <li class="dropdown-divider"></li>
                <li role="menuitem">
                  <a
                    class="dropdown-item"
                    style="cursor: pointer"
                    (click)="onLogout()"
                    >Logout</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
