<a
  (click)=" visiteRecipe()"
  [routerLinkActive]="'active'"
  style="cursor: pointer"
  class="list-group-item clearfix"
>
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h5 class="list-group-item-heading">{{ data.name }}</h5>
      <p class="list-group-item-text">{{ data.description }}</p>
    </div>
    <div>
      <img
        [src]="data.imagePath"
        [alt]="data.name"
        class="img-fluid"
        style="height: 50px; width: 80px"
      />
    </div>
  </div>
</a>

