<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="addIngredient()" [formGroup]=" ingredientForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">name</label>
                    <input type="name" id="name" class="form-control" formControlName="name">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" id="amount" min="0" formControlName="amount">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success " [disabled]="this.ingredientForm.invalid" type="submit" style="margin-right: 10px;"> {{ this.editMode ? "Update" : "Add"}}</button>
                    <button *ngIf="this.editMode" class="btn btn-danger" type="button" style="margin-right: 10px;" [disabled] ="!this.editMode" (click) =deleteIngredient() >Delete</button>
                    <button class="btn btn-primary" type="button" (click)="this.ingredientForm.reset(); this.editMode = false;" [disabled]="this.ingredientForm.pristine && !this.editMode">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>